.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Cabecalho {
  background-color: #000000;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Destaque .Produtos  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Destaque h1 {
  text-align: center;
  
}

.Destaque h3 {
  padding-top: 15px;
}

.Destaque .produto {
  background-color: #d3d3d3;
  border-radius: 20px;
  margin: 0px 30px;
}

.Destaque .Info {
  border-radius: 10px;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px ;
}

.Cabecalho img {
  width: 100px;
}

.Destaque img {
  width: 300px;
  padding: 20px;
}

.Destaque .comprar {
  border-radius: 10px;
  background-color: red;
  width: 100px;
}

.lista .produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.lista img {
  width: 150px;
}

.Carrinho {
  display: flex;
  justify-content: center;
}

.Carrinho img {
  width: 150px;
}

.tabela {
  align-items: center;
  
}

.tabela img {
width: 150px;
}

.lista .produto {
  background-color: #d3d3d3;
  border-radius: 20px;
  margin: 0px 30px;
}

.select {
  float: right;
  margin: 15px 0px;
}